<title>Product List</title>
<link rel="stylesheet" href="/webjars/bootstrap/4.6.1/css/bootstrap.min.css">
<script src="/webjars/jquery/3.6.1/jquery.min.js"></script>


<div class="container-fluid mx-5 my-5 w-100">
    <tr th:each="checkout: ${checkoutList}">
        <div class="row my-4 border border-primary mx-auto p-2">
            <div class="item-class p-5 bg-primary col-2 mx-5 text-white"  th:value="${checkout.getProductEntity().getProductCode()}">Go To Detail</div>
            <div class="col-5 my-5">
                <div><td th:text="${checkout.getProductEntity().getProductName()}" /></div>
                <div>Rp. <td th:text="${checkout.getProductEntity().getPrice()}" /></div>
                <div>Qty : <td th:text="${checkout.getQuantity()}" /></div>
            </div>
        </div>
    </tr>
    <div class="container-fluid border border-primary mb-3"><span>Total :<div id="totalOrder"/> </span></div>
    <div class="get-order btn btn-danger p-3 d-flex justify-content-center mb-3">ORDER</div>
</div>

<script>
    $(document).ready(function(){
        let totalOrder=0;
        $.ajax({
            type: "GET",
            url: "/product/total",
            success: async function(response) {
              totalOrder  = response.total;
                $( "#totalOrder" ).append("<p>"+totalOrder+"</p>");
            }
        })


    })
</script>

